/results
/.snakemake
/data
/.vscode
.DS_Store
/defaults
/shared
/phylogeny/results
/phylogeny/.snakemake
/phylogeny/auspice
/ingest/data
/ingest/results
/ingest/.snakemake
/scripts
/rules
/.flake8
/species_tree